
<%- include('partials/header'); -%>

<div style="padding: 0px 3vw;">
  <div class="row align-items-center">
    <div class="smoothie col-12 col-lg-5 col-md-6 text-center">
      <img src="/sideImg.svg" width="80%" alt=""><br><br>
    </div>
    <div class="headings col-12 col-lg-7 col-md-6 text-center">
      <h1 style="font-size: 3em;" class="heading">Interview Helper</h1>
      <h3 style="font-size: 1.6em; margin-top: 10px;" class="heading_sub">By Ankit Saraf</h3>
      <a href="/topics" style="margin-top: 25px; font-size: 1em; font-weight: 500;" class="btn">View Topics</a>
      <a href="/my_topics" style="margin-top: 25px; font-size: 1em; font-weight: 500; margin-left: 20px;" class="btn viewMy">View My Topics</a><br>
      <a href="/companies" style="margin-top: 25px; font-size: 1em; font-weight: 500;" class="btn">View Internship Experiences</a>
    </div>
  </div>
  
</div>


<%- include('partials/footer'); -%>